@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
    function call() {

    }
</script>
<h1>今天是星期五</h1>
<hr />
<p>  看資料 D1 ：@TempData["D1"]       </p>
<p>  看資料 D2 ：@TempData.Peek("D2")  </p>
<hr />
<hr>
@ViewData["A3"] <br>
@TempData["A4"]<br>
<hr/>
@(ViewBag.A1 += 7)
@((int)ViewData["A5"]!+7)
@((int)TempData["A6"]! + 7)
<hr />
@ViewBag.A2
<hr />
<input type="date" value="@ViewBag.DT3"/>
<input type="datetime" value="@ViewBag.DT3" />
<input type="datetime-local" value="@ViewBag.DT3" />
<hr />
<input name="name" value="@ViewBag.A1" />
<button name="ptbutton" onclick="call()">PRINT</button>
<hr/>
<div class=" text-center">
    <p>
        <b>Name:@Context.Session.GetString("_Name")</b>
        <b>Age:@Context.Session.GetInt32("_Age")</b>
    </p>

</div>


